
#footer{
  padding: 50px 30px;
  background-color:#353535;
  color: white;
}

/* Style for text in Footer */
#footer h5 {
  font-weight: bolder;
}

.footer-copyright{

  margin-left: 2em;
}

/* Style for image logo in Footer */

.footer-logo-border {
  border-right: solid 1px white;
  
}
.footer-logo-border img{

    width: 60%;
    margin-left: 2.5em;
}

#grid_dimadelice{

  margin-left: 2em;
}

/* Text go to left in desktop version */
.footer-text {
  padding-left: 20px;
}


/* Mobile version */
@media screen and (max-width: 960px) {
  /* Style for Footer */

  .footer-logo-border img{

    width: 60%;
    margin-left: 0em;
}

  #grid_dimadelice{

    margin-left: 0em;
  }
  

  #footer {
      text-align: center;
    
  }

  #footer img {
      
      margin-bottom: 20px;
  }

  /* Border on the right for footer logo */
  .footer-logo-border {
      border-right: solid 0px var(--secondary-color-dark);
      justify-content: center;
  }

  /* Text reset position */
  .footer-text {
      padding-left: 0px;
  }

  /* Copyright go to center in mobile version */
  .footer-copyright {
       text-align: center;
      margin: 2em;
      width: 100%;
  }
}

/* style for link footer */
.footer-link {
  color: inherit;
  text-decoration: none;
}

/* When mouse on it */
.footer-link:hover {
  font-weight: bolder;
  color: inherit;
}

